@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.swiper-dot .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px !important;
}

.price-ranger {
  width: 100%;
}

.slider-container {
  position: relative;
  height: 40px;
  margin-top: 10px;
}

.slider-container input[type="range"] {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  -webkit-appearance: none;
  z-index: 3;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(84deg, var(--theme) 0%, var(--theme-2) 100%);
  cursor: pointer;
  -webkit-appearance: none;
  position: relative;
  z-index: 4;
}

.slider-track {
  position: absolute;
  height: 8px;
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 4px;
  z-index: 1;
}

.slider-range {
  position: absolute;
  height: 8px;
  background: linear-gradient(84deg, var(--theme) 0%, var(--theme-2) 100%);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  z-index: 2;
}

.search-wrap {
  background-color: rgba(255, 255, 255, 1) !important;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.about-wrapper.about-dark-page .section-title h2 {
  color: #fff;
}

.about-page-blog.blog-1 .blog-inner {
  padding-bottom: 0px;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
