.features-1 {
    margin-top: -130px;
    position: relative;
    z-index: 11;

    .single-feature-item {
        margin-top: 30px;
        height: 373px;
        border-radius: 12px;
        background: $white;
        padding: 40px;
        box-shadow: 7px 11px 50px 52px rgba(2, 8, 66, 0.03);
        @include transition;
        cursor: pointer;

        @include breakpoint(max-xxl) {
            padding: 20px 30px;
        }

        .icon {
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background: linear-gradient(84deg, $theme-color 0%, $theme-color-2 100%);
            @include flex;
            justify-content: center;
            font-size: 30px;
            color: $white;
            overflow: hidden;

            i {
                position: relative;
                z-index: 2;
                display: inline-block;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

            }
        }

        &:hover {
            background: $theme-color-2;

            .icon {
                background: $white;

                i {
                    animation: iconTranslateX 0.4s forwards;
                    color: $theme-color-2;
                }
            }

            h4 {
                color: $white;
            }

            p {
                color: $white-3;
            }

            li {
                color: $white-3;

                i {
                    color: $white;
                }

            }

            a {
                color: $white;
            }
        }

        h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: -0.2px;
            padding: 20px 0;

            a {
                color: $black-2;
                background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
                transition: all 500ms ease;

                &:hover {
                    background-size: 100% 1px;
                }
            }
        }

        p {
            color: $text-color;
        }

        ul {
            padding-top: 15px;

            li {
                color: $text-color;
                font-weight: 500;
                line-height: 26px;
                padding-bottom: 15px;
                @include transition;

                i {
                    color: $theme-color-2;
                    padding-right: 5px;
                }
            }
        }

    }
}

.features-2 {
    margin-top: -200px;
    position: relative;
    z-index: 11;

    .features-images {
        height: 680px;
        margin: 0 133px;
        margin-top: -30px;
        z-index: -1;
        border-radius: 30px;

        @include breakpoint (max-xl) {
            margin: 0 20px;
        }
    }

    .features-items {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-between;
        align-items: center;

        @include breakpoint (max-xl) {
            grid-template-columns: auto auto auto;
            row-gap: 20px;
        }

        @include breakpoint (max-md) {
            grid-template-columns: auto auto;

        }

        @include breakpoint (max-xs) {
            grid-template-columns: auto;
            justify-content: center;
        }

        .single-feature-item {
            width: 218px;
            height: 218px;
            border-radius: 50%;
            border: 2px solid $white;
            position: relative;
            @include flex;
            justify-content: center;
            text-align: center;

            &::after {
                @include after;
                background-color: rgba(0, 11, 107, 0.55);
                border-radius: 50%;
                @include transition;
            }

            h4 {
                color: $white;
                text-align: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: -0.18px;
                z-index: 1;
                padding-top: 40px;

                a {
                    color: $white;
                    background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
                    transition: all 500ms ease;

                    &:hover {
                        background-size: 100% 1px;
                    }
                }

            }

            &:hover {
                &::after {
                    @include after;
                    background-color: rgba(0, 11, 107, 0.80);
                    border-radius: 50%;

                }
            }
        }
    }
}

.features-3 {
    margin-top: -100px;
    position: relative;
    z-index: 1;

    .single-feature-item {
        height: 130px;
        border-radius: 12px;
        background: $white;
        box-shadow: 7px 11px 50px 52px rgba(2, 8, 66, 0.03);
        gap: 15px;
        @include flex;
        padding: 30px 40px;
        padding-right: 20px;
        @include transition;
        cursor: pointer;

        .icon {
            background: linear-gradient(84deg, $theme-color 0%, $theme-color-2 100%);
            @include clip;
            font-size: 61px;
        }

        h4 {
            font-weight: 600;
        }

        &:hover {
            background: $black-2;

            h4 {
                color: $white;
            }
        }
    }
}