.choose-us-1 {
    position: relative;

    .shape {
        position: absolute;
        top: -10px;
        left: 0;
        opacity: 8%;
    }

    .choose-us-images {
        position: relative;
        width: 588px;
        height: 710px;

        @include breakpoint(max-md) {
            width: 100%;
            height: 100%
        }

        img {
            @include imgw;
            object-fit: contain;
        }

        .shape-img {
            position: absolute;
            top: 80px;
            left: 10px;
            z-index: -2;
            opacity: 50%;
            animation: spinner 100s infinite linear;
        }
    }

    .choose-us-content {
        .icon-box {
            gap: 20px;

            @include breakpoint (max-md) {
                flex-wrap: wrap;
            }

            .single-icon-box {
                .icon {
                    font-size: 40px;
                    @include clip;
                    background-image: linear-gradient(84deg, $theme-color 0%, $theme-color-2 100%);
                    margin-bottom: 20px;
                    @include transition;
                    display: inline-block;
                }

                h4 {
                    color: #020842;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: -0.2px;
                    padding-bottom: 10px;
                }

                &:hover {
                    .icon {
                        animation: bounceIn 1s linear;
                    }
                }

            }
        }

        .count-box {

            background-color: $white;
            margin-top: 55px;
            @include flex;
            justify-content: space-between;
            padding: 15px 65px;
            padding-bottom: 35px;
            border-radius: 12px;
            box-shadow: 7px 11px 50px 52px rgba(2, 8, 66, 0.03);

            @include breakpoint(max-sm) {
                flex-direction: column;
            }

            .single-count {
                padding-top: 20px;

                h2 {
                    font-size: 60px;
                    font-weight: 800;
                    @include clip;
                    background-image: linear-gradient(84deg, $theme-color 0%, $theme-color-2 100%);
                    line-height: 60px;

                    @include breakpoint (max-md) {
                        font-size: 40px;
                        text-align: center;
                    }
                }
            }
        }

    }
}

.choose-us-2 {
    position: relative;
    background-color: $theme-color-3;
    padding-bottom: 275px;

    .choose-us-images {
        position: relative;
        z-index: 1;

        .shape-1 {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 35%;
            z-index: -1;
            animation: spinner 100s infinite linear;
        }

        .image-1 {
            width: 450px;
            height: 410px;

            @include breakpoint (max-xl) {
                width: 100%;
            }

            img {
                @include imgw;
                object-fit: cover;
                border-radius: 12px;
            }
        }

        .image-2 {
            width: 300px;
            height: 320px;
            position: absolute;
            bottom: -150px;
            right: 14%;
            animation: topToBottom 3s infinite linear;


            @include breakpoint (max-xl) {
                display: none;
            }
        }

        .experience {
            position: absolute;
            left: 0;
            margin-top: 10px;

            @include breakpoint (max-xl) {
                position: inherit;
            }

            h2 {
                background: linear-gradient(84deg, #3FB5FD 0%, #0B6EDA 100%);
                @include clip;
                font-size: 120px;
                letter-spacing: -2.4px;
                line-height: 100px;
            }

            p {
                color: $white;
                font-size: 22px;
                font-weight: 500;
            }
        }
    }

    .choose-us-content {
        .text {
            font-size: 18px;
            color: $white-3;
            padding-top: 20p;
        }

    }


}

.choose-us-3 {
    .choose-us-content {
        .reviews {
            gap: 80px;
            flex-wrap: wrap;

            @include breakpoint (max-md) {
                justify-content: center;
                gap: 20px;
            }

            .infu {
                @include breakpoint (max-md) {
                    text-align: center;
                }

                img {
                    width: 170px;
                    height: 50px;
                    object-fit: cover;
                    margin-bottom: 15px;
                }

                h4 {
                    font-size: 16px;
                    font-weight: 600;
                }

                .head {
                    gap: 12px;
                    margin-bottom: 15px;

                    @include breakpoint (max-md) {
                        flex-direction: column;
                    }

                    .icon {
                        font-size: 40px;
                        background: linear-gradient(84deg, #3FB5FD 0%, #0B6EDA 100%);
                        @include clip;
                    }
                }

                &:hover {
                    .icon {
                        animation: bounceIn 1s linear;
                    }
                }
            }
        }

    }

    .choose-us-images {
        position: relative;

        .shape-1 {
            position: absolute;
            left: 0;
            top: -50px;
            opacity: 8%;
            z-index: -1;
        }

        .single-choose-item {
            width: 100%;
            min-height: 225px;
            height: auto;
            position: relative;
            text-align: center;
            background-color: #F0F5FD;
            padding: 70px 20px 30px 20px;
            background-image: none;
            cursor: pointer;
            overflow: hidden;
            border-radius: 12px;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include breakpoint(max-md) {
                padding: 50px 15px 20px 15px;
            }

            @include breakpoint(max-sm) {
                padding: 40px 10px 15px 10px;
            }

            .shape-2 {
                position: absolute;
                top: -100px;
                left: -50px;
                animation: spinner 10s infinite linear;

            }

            .shape-3 {
                position: absolute;
                bottom: -20px;
                right: 0px;
                opacity: 17%;
                rotate: 90deg;
                animation: zoomBig 1s linear infinite;

            }

            .icon {
                font-size: 43px;
                background: linear-gradient(84deg, #3FB5FD 0%, #0B6EDA 100%);
                @include clip;
                padding-bottom: 10px;
            }

            h4 {
                color: #020842;
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            p {
                color: #020842;
                font-size: 14px;
                line-height: 1.6;
                text-align: center;
                margin: 0;
                padding: 0;
                display: none;
            }

            .single-choose-hover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 30px 40px;
                z-index: 5;
                opacity: 1;
                visibility: visible;
                @include transition;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                @include breakpoint(max-lg) {
                    opacity: 0;
                    visibility: hidden;
                }

                @include breakpoint(max-md) {
                    padding: 20px 25px;
                }

                @include breakpoint(max-sm) {
                    padding: 15px 15px;
                }

                .icon {
                    background: none;
                    color: $white;
                    font-size: 43px;
                    padding-bottom: 10px;
                }

                h4 {
                    color: $white;
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 10px;

                    @include breakpoint(max-sm) {
                        font-size: 14px;
                    }
                }

                p {
                    color: $white;
                    font-size: 12px;
                    line-height: 1.5;

                    @include breakpoint(max-sm) {
                        font-size: 11px;
                    }
                }

            }


            &::before,
            &::after {
                content: "";
                width: 100%;
                height: 0%;
                position: absolute;
                background: linear-gradient(rgba(0, 3, 37, 0.56), rgba(0, 3, 37, 0.56)),
                    url('../../assets/img/why-choose/05.png');
                filter: grayscale(50%);
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
                z-index: 1;
            }

            &::before {
                top: 0%;
                right: 0%;
            }

            &::after {
                left: 0%;
                bottom: 0%;
            }

            &:hover::before,
            &:hover::after {
                width: 100%;
                height: 100%;
            }

            &:hover {
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
                transition: box-shadow 0.3s ease;

                @include breakpoint(max-lg) {
                    .single-choose-hover {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

        }

    }

    &.choose-us-page {
        padding-bottom: 340px;
    }
}

.choose-us-4 {
    position: relative;
    overflow: hidden;

    .shape-1 {
        position: absolute;
        bottom: 20%;
        right: 20%;
        animation: zoomBig 2s infinite linear;

        @include breakpoint (max-md) {
            display: none;
        }
    }

    .shape-2 {
        position: absolute;
        bottom: -22%;
        right: 20%;
        animation: spinner 50s infinite linear;

        @include breakpoint (max-md) {
            display: none;
        }
    }

    .shape-3 {
        position: absolute;
        top: 0%;
        right: 0%;
        animation: zoomBig 3s infinite linear;
        opacity: 0.6;

        @include breakpoint (max-md) {
            display: none;
        }
    }

    .shape-4 {
        position: absolute;
        top: 5%;
        left: 0%;
        animation: zoomBig 5s infinite linear;
        opacity: 0.6;

        @include breakpoint (max-md) {
            display: none;
        }
    }

    .bg-image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .choose-us-content {
        .accordion-item {
            border: 0;
            margin-top: 15px;
            border-radius: 6px;
            background-color: $white;

            .accordion-header {
                .accordion-button {
                    color: $black-2;
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: -0.18px;
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    background-color: transparent;
                    padding: 20px 40px;
                    padding-right: 30px;


                    &::after {
                        content: "\f067";
                        background: transparent;
                        font-family: $fa;
                        font-weight: 300;
                        line-height: 1;
                        width: auto;
                    }

                    &:not(.collapsed)::after {
                        content: "\f068";
                        background: transparent;
                        font-family: $fa;
                        font-weight: 300;
                        line-height: 1;
                    }
                }
            }

            .accordion-collapse {

                .accordion-body {
                    padding-top: 0px;
                    padding-left: 30px;
                    color: $text-color-2;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    margin: 0 40px;
                    margin-right: 30px;
                    padding-top: 10px;
                    border-top: 1px solid $border-color-2;
                    padding-left: 0;
                    padding-right: 0;

                }
            }
        }
    }

    .choose-us-image {
        width: calc(100% + 40px);
        height: 314px;
        margin-left: -40px;
        position: relative;

        @include breakpoint (max-lg) {
            width: 100%;
            margin-left: 0;
        }

        img {
            @include imgw;
        }


    }
}